/* Styl całego dokumentu */
body {
    font-family: Arial, sans-serif;
    background-color: #A2DFE1;
    margin: 0;
    padding: 0;
}

/* Styl nagłówka */
header {
    height: 50px;
    background-color: #044f63; /* Kolor tła nagłówka */
    color: #fff; /* Kolor tekstu w nagłówku */
    padding: 5px; /* Wielkość wewnętrznych marginesów */
    display: flex;
    align-items: center;
    justify-content: left;
}

/* Styl dla logo */
#logo {
    max-width: 40px; /* Maksymalna szerokość logo */
}
.menu {
    background-color: #A2DFE1;
    height: 50px;
    text-align: right;
    font-size: 20px;
    color: #ffffff;
}
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    
}
ul a {
    text-decoration: none; /* Usunięcie podkreślenia */
    color: #000; /* Zmiana koloru tekstu na czarny */
}

/* Styl dla linków wewnątrz elementu <ul> po najechaniu myszką */
ul a:hover {
    color: #8d42c7; /* Zmiana koloru tekstu na niebieski po najechaniu myszką */
}

.menu li {
    display: inline;
    margin-right: 20px;
    padding: 20px;
}

.menu .dropdown {
    position: relative;
}

.menu .submenu {
    display: none;
    background-color: rgb(26, 159, 159, 0.7);
    position: absolute;
    top: 100%;
    left: 0;
}

.menu .dropdown:hover .submenu {
    display: block;
}

/* Styl głównego kontenera */
.content {
    display: flex;
    width: 100%;
}

/* Styl kontenera mapy */
/* Styl kontenera ma5py */
.map-container {
    width: 100%; /* Mapa zajmuje 75% dostępnej szerokości */
    height: 85vh;
    border: 2px solid #333;
}
  #toggleFilterBtn {
	width: 100%;
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.938);
	cursor: pointer;
  }
/* Styl panelu sterowania */

.control-panel {
	width: 50px;
	background-color: #ffffff34;
	border: 1px solid #ccc;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	transition: width 0.3s ease;
  }
  
  #filter-container {
	padding: 10px;
	display: none;
  }
  


#filter-container label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

#filter-container input[type="checkbox"] {
    margin-bottom: 5px;
}
.info-container {
    background: rgba(255, 255, 255, 0.615);
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: #044f63;
}

.info-container img {
    max-width: 600px;  /* Ustawia maksymalną szerokość na 100% szerokości kontenera */
    height: auto;     /* Automatyczne dostosowanie wysokości dla zachowania proporcji */
    display: block;   /* Eliminuje dodatkowe marginesy, które mogą występować dla elementu img */
    margin: 0 auto;   /* Centralizuje obraz w obrębie kontenera */
}


#filter-container button {
    background-color: #4c8baf;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#filter-container button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #044f63;
    color: #000;
    margin-top: auto;
  }






